// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(250, 249, 252);
  background: linear-gradient(
    90deg,
    rgba(250, 249, 252, 1) 0%,
    rgba(241, 250, 238, 1) 0%,
    rgba(168, 218, 220, 1) 100%
  );
}

.date-container {
  margin-bottom: 3em;
}

.date {
  display: flex;
  justify-content: space-between;
}

.date-left {
  display: flex;
  align-items: center;
}

.date-left span {
  font-size: 4rem;
  font-weight: 700;
  margin-right: 5px;
}

.date-left h2 {
  font-size: 1.5rem;
  margin: 0;
}

.date-right {
  display: flex;
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.6em;
}

.main-container {
  width: 30%;
  margin: 4em auto;
  padding: 3em 4em;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (max-width: 1400px) {
  .main-container {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .main-container {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .main-container {
    width: 90%;
    padding: 2em;
  }

  .date {
    justify-content: space-around;
  }
}

.input-item {
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 0.7em;
  width: 100%;
}

.input-item:focus {
  outline: none !important;
}

.input-item::placeholder {
  font-family: "Roboto", sans-serif;
}

.todo-item {
  display: flex;
  font-size: 1.15rem;
  position: relative;
  margin: 0.5rem 0;
}

.todo-item > * {
  margin-right: 15px;
}

.todo-item p {
  margin-bottom: 0;
}

.todo-item:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  display: flex;
  align-self: center;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
}

input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border-style: solid;
  border-color: #457b9d;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

input[type="checkbox"]:checked {
  border: 1px solid #457b9d;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-delete {
  display: flex;
  align-self: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.todo-item > i {
  display: none;
}

.todo-item:hover > i {
  display: block;
}

i {
  font-size: 1rem;
}

.todo-item i:hover {
  color: #e63946;
}

.status-list {
  display: flex;
  list-style: none;
  margin: 2em 0 1em;
  padding: 0;
}

.status-list li {
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33%;
  margin: 0;
  padding: 0.7em;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.btn-all:hover {
  color: #94d2bd;
}

.btn-active:hover {
  color: #ee9b00;
}

.btn-completed:hover {
  color: #457b9d;
}
